@import '../../colors.scss';

.product-card {
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.06);
  transition: all 500ms;
  background: $white;
  text-align: center;
  border-radius: 40px;
}

.product-thumb {
  background-color: $pink;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;

  .offer-image {
    width: 250px;
    max-width: 100%;
    object-fit: cover;
  }
}

.product-details {
  color: $text-color;

  .name-product {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    border-bottom: solid 1px $border-color;
    display: inline-block;
    margin: 0;
    margin-top: 20px;
  }

  .description {
    font-size: 16px;
    line-height: 8px;
    font-weight: 500;
  }
}

.add-cart {
  padding-bottom: 16px;

  button {
    text-decoration: none;
    width: 160px;
    font-size: 16px;
    line-height: 24px;
    color: $white;
    background: $red;
    padding: 15px;
    display: inline-block;
    transition: 0.5s;
    border: 1px solid rgba(216, 71, 39, 0);
  }
}

.product-card:hover {
  box-shadow: 0 14px 30px -15px rgba(0, 0, 0, 0.75);

  .add-cart button {
    color: $text-color;
    background-color: $white;
    border: 1px solid $red;
  }
}

.ordered {
  filter: grayscale(100%);
}
