$red: #d84727;
$gold: #c5b358;
$pink: #f1ddc9;
$text-color: #333333;
$white: #ffffff;
$border-color: #b49987;
$light: #f5f5dc;
$brown: #654321;
$grey: #696969;
$green: #52b358;
$background-color: #e5e5e5;
$shadow: #585b56;
