@mixin taviraj {
  font-family: 'Taviraj', serif;
  font-style: normal;
  letter-spacing: 0.02em;
  color: $text-color;
}

@mixin catamaran($fontSize, $lineHeight) {
  font-family: 'Catamaran', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: $fontSize;
  line-height: $lineHeight;
}

@mixin font($fontSize, $fontWeight, $lineHeight: inherit) {
  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: $lineHeight;
}
