@import '../../colors.scss';
@import '../../fonts.scss';

header {
  padding-top: 35px;
  padding-bottom: 35px;
  width: 100%;
  top: 0;
  left: 0;
  background-color: $background-color;
}

header a {
  text-decoration: none;
  @include catamaran(20px, 34px);
}

.info__header {
  display: flex;
  justify-content: space-between;
}

.logo {
  align-self: end;

  img {
    vertical-align: baseline;
  }
}

.icon__header {
  display: flex;
  justify-content: flex-end;
}

*[data-visible='none'] {
  opacity: 0;
}
