@import '../../colors.scss';
@import '../../fonts.scss';

.center {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

.filters-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.group-filters {
  width: 30%;
  border: solid 2px $red;
  border-radius: 10px;
  padding: 10px 10px 0 10px;

  .title {
    @include font(36px, 500, 40px);
    margin: 0;
  }
}

.title-selection {
  @include font(20px, 600, 32px);
  margin: 0;
  margin-right: 10px;
}

.item-color {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  margin: 15px 10px;
}

.color-type-light {
  background-color: $light;
}

.color-type-brown {
  background-color: $brown;
}

.color-type-gray {
  background-color: $grey;
}

.color-type-active::after {
  content: '✓';
  color: $green;
  @include font(28px, bold);
}

.checkbox-popular {
  display: flex;

  input[type='checkbox' i] {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
}

.search-container {
  position: relative;
  margin-bottom: 30px;

  .input-search {
    width: 100%;
    font-size: 18px;
    padding: 10px;
    border: solid 2px $border-color;
    border-radius: 20px;
    box-sizing: border-box;
  }

  .input-search:focus {
    border: solid 2px $border-color;
    outline: none;
    box-shadow: 0px 5px 10px 2px $shadow;
  }
}

.icons {
  width: 24px;
  height: 24px;
}

.icon-search,
.icon-close {
  position: absolute;
  right: 5%;
  top: 20%;
  color: $shadow;
}

.icon-close {
  cursor: pointer;
}

.sorting-container select {
  width: 100%;
  padding: 10px;
  height: 50px;
  border: solid 2px $border-color;
  border-radius: 20px;
  font-size: 20px;
  color: $text-color;
  outline: none;
}

.reset {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 30px 0 10px;

  .btn-reset {
    border: solid 2px $border-color;
    border-radius: 20px;
    color: $text-color;
    cursor: pointer;
    @include font(20px, 400);
    width: 200px;
    height: 60px;
    margin: 10px 0;
    padding: 0 25px;
  }

  .btn-reset:hover {
    background-color: $pink;
  }
}

.catalog-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 50px;
  margin-bottom: 50px;

  &.empty-catalog-container {
    grid-template-columns: auto;

    .message {
      justify-self: center;
      text-align: center;
      font-size: 32px;
    }
  }

  .hidden {
    display: none;
  }
}

@media screen and (max-width: 1440px) {
  .center {
    max-width: 90%;
  }

  .catalog-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1200px) {
  .group-filters {
    width: 100%;
    margin-bottom: 20px;
  }

  .reset {
    flex-direction: row;
    gap: 20px;
  }
}

@media screen and (max-width: 1024px) {
  .catalog-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .catalog-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
